<div class= "container read-index">
  <h1 class= "title">New Book Entry</h1>
    <%= form_for @book, url: books_path, method: :post do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :author %>
    <%= f.text_field :author %>

    <div class="space30">
      <%= f.submit class: 'btn btn-info' %>
      <%= link_to books_path, method: :get do %>
        <button type="button" class="btn btn-info">Back to Reading List</button>
      <% end %>
    </div>
    <% end %>
    <br>
    <% @book.errors.full_messages.each do |msg| %>
    <%= msg %>
    <br>
    <% end %>
</div>


