<h1>Books#show</h1>
<table>
  <thead>
    <th>Title</th>
    <th>Author</th>
    <th>Read</th>
  </thead>
  <tbody>
    <td><%= @book.title %></td>
    <td><%= @book.author %></td>
    <td><%= @book.read %></td>
    <td><%= link_to 'Edit', edit_book_path(@book), method: :get%></td>
  </tbody>
</table>
<br>
<%= link_to 'Back to Index', books_path, method: :get %>


